<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Page2</title>
</head>
<body>
    <img src="../resources/banner.svg" alt="banner"/>
    <nav class="menue">
        <span><a href="../index.html">Homepage</a></span>
        <span><a href="../views/two.html">Page2</a></span>
        <span><a href="../views/three.html">Page3</a></span>
    </nav>
    <h1>Favorite Coding Resources</h1>
    <table>
        <thead>
            <tr>
                <th>Coding Resources</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    resources1
                </td>
                <td>
                    <a href="link" rel="nofollow">
                        link1
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    resources2
                </td>
                <td>
                    <a href="link2" rel="nofollow">
                        link2
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    resources3
                </td>
                <td>
                    <a href="link3" rel="nofollow">
                        link3
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>